<div class="AboutBody">
    <div >
        <!-- Information -->
        <h2 class="Heading" >Personal Details</h2>
        <div class="DataAndInformation">
            <table>
                <tr> <td>Name:</td> <td>Pierre</td> </tr>
                <tr> <td>Surname:</td> <td>Crafford</td> </tr>
                <tr> <td>Birthdate:</td> <td>03/06/2002</td> </tr>
                <tr> <td>ID Number:</td> <td>0203065708083</td> </tr>
                <tr> <td>Address:</td> <td>Plot 42 Middelweg Leeuwfontein, Pretoria</td> </tr>
                <tr> <td>Marital Status:</td> <td>Single</td> </tr>
                <tr> <td>Citenzenship:</td> <td>SA</td> </tr>
                <tr> <td>Driving License:</td> <td>Learner Licence (Own Transportation)</td> </tr>
                <tr> <td>Languages:</td> <td>English & Afrikaans (Written and Spoken)</td> </tr>    
            </table>
        </div>
    </div>



    <div >
        <!-- School -->
        <h2 class="Heading">High School
            <br>
            <span class="Information">
                01/2015 - 12/2020
            </span>
            <span class="Information">
                Hoërskool Montana
            </span>
            <span class="Information">
                Graduated
            </span>
        </h2>
        <div class="Data">
            <br>
            Afrikaans 
            <br>
            English
            <br>
            Math Literacy
            <br>
            EGD (Engineering Graphics and Design) 
            <br>
            IT (Information Technology)
            <br>
            Geography
            <br>
            LO (Life Orientation)
            <br> 
        </div>
            
        <img src="/HSMontana.jpg" alt="About Picture">
    </div>

    <div >
        <h2 class="Heading" >University 1st Year
            <br>
            <span class="Information">
                02/2021 - 12/2021
            </span>
            <span class="Information">
                Diploma
                <br>
            </span>
            <span class="Information">
                Belgium Campus ITVersity
            </span>
        </h2>
        <div class="Data">
            <table>
                <tr>
                    <th>Subject</th>
                    <th>Marks</th>
                </tr>
                <tr> <td>Business Management 151</td> <td>62%</td> </tr>
                <tr> <td>Computer Architechture 151</td> <td>75%</td> </tr>
                <tr> <td>English Communication 151</td> <td>72%</td> </tr>
                <tr> <td>End User Computing 151</td> <td>59%</td> </tr>
                <tr> <td>Information Systems 151</td> <td>69%</td> </tr>
                <tr> <td>Mathematics 151</td> <td>65%</td> </tr>
                <tr> <td>Netword Development 151</td> <td>57%</td> </tr>
                <tr> <td>Programming 151</td> <td>77%</td> </tr>
                <tr> <td>Programming 152</td> <td>76%</td> </tr>
                <tr> <td>Web Programming 151</td> <td>60%</td> </tr>   
            </table>
        </div>
            
        <img src="BelgiumLogo.jpg" alt="About Picture">
    </div>


    <div >
        <h2 class="Heading" >University 2nd Year
            <br>
            <span class="Information">
                02/2022 - Current
            </span>
            <span class="Information">
                Diploma
                <br>
            </span>
            <span class="Information">
                Belgium Campus ITVersity
            </span>
        </h2>
        
        <div class="Data">
            <table>
                <tr>
                    <th>Subject</th>
                    <th>Marks</th>
                </tr>
                <tr> <td>Database Development 251</td> <td>52%</td> </tr>
                <tr> <td>Enterprise Systems 251</td> <td>68%</td> </tr>
                <tr> <td>Information Systems 251</td> <td>64%</td> </tr>
                <tr> <td>Operating Systems 251</td> <td>66%</td> </tr>
                <tr> <td>Project Management</td> <td>76%</td> </tr>
                <tr> <td>Security 251</td> <td>67%</td> </tr>
                <tr> <td>Programming 251</td> <td>50%</td> </tr>
                <tr> <td>Web Programming 251</td> <td>69%</td> </tr>
            </table>
        </div>
            
        <img src="BelgiumLogo.jpg" alt="About Picture">
    </div>



    
    <!-- Work Experience -->
    <div >
        <h2 class="Heading" >Work Experience
            <br>
            <span class="Information">
                09/2021 - 02/2022
            </span>
            <span class="Information">
                Yeah Brew - Packing and Cleaner
            </span>
        </h2>
        <div class="Data">
            <br>
            Packing and Organizing of Products.
            <br>
            Cleaning of store before opening hours. 
            <br>
            Weekend Work.
            <br>
        </div>
            
        <img src="yeah-brew-logo.jpg" alt="About Picture">
    </div>

</div>