<nav>
    <div class="Logo">
        <img src="Fruit Logo.jpg" alt="Logo">
        <h4>Pierre Crafford Curriculum Vitae</h4>
    </div>
    <div class="MenuItems">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/Contact">Contact</a></li>
            <li><button onclick="location.href='CV_Pierre_Crafford.pdf'" class="PDFButton">PDF</button></li>
        </ul>
    </div>
</nav>