<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>

    <div class="MainBody">
        <div>
            <div class="Description">
                <h2 >Pierre Crafford.</h2>
                <p>
                    Hard working student willing to learn the corporate world in any way possible.
                    <br>
                    <br>
                    Likes working on problems and finding the best posible solution to them.
                    <br>
                    <br>
                    Creative and Analitical thinking.
                    <br>
                    <br>
                    Flexable with limited resources and likes a challange to see what is possible with limited resources.
                </p>
            </div>
            <div class="Profile">
                <img src="Edit_CV_Pic.png" alt="Image" >
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs')%>
    
</body>
</html>